// design colors
$dark: #010c15; //заливка body
$main: #011627; //основа app
$main-dark: #02101c;

$text-grey: #607B96;
$text-hover: #a3b9cf;

// $border: #1E2D3D; //grey border
$border: #202638; //grey border

$white: #E5E9F0;
$blue: #4D5BCE;
$red: #a13434;

$back-disable: #081f32;

$input-focus: #3e566c;

$light-grey: #b5bccd;

// $input-disable: #202638;

// $input-border: #202638;




$main-accent-blue: #6aa6ff;
$main-white: #ffffff;
$light-bg: #f8f9ff;
$main-gradient: linear-gradient(142.83deg, #9dc4ff 14.97%, #5393f1 86.35%);

$accent-dark-blue: #3080f9;
$grey-disabled-bg: #dadeeb;
$grey-disabled-text: #7a8693;
$light-grey-disabled-text: #b5bccd;
$attention-red: #e5405e;

$success-green: #6acf86;
$light-blue: #e3edff;
